<form
  action=""
  method="post"
  #form="ngForm"
  [formGroup]="formulario"
  (ngSubmit)="onSubmit()"
>
  <div class="columns is-vcentered lorem">
    <div class="login column is-4 ">
      <section class="section">
        <div class="has-text-centered"></div>
        <h2
          class="is-size-1 has-text-centered is-uppercase has-text-weight-bold has-text-black"
        >
          Axos
        </h2>
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-right">
            <input formControlName="nombre" class="input" type="text" />
            <div *ngIf="f.nombre.touched && f.nombre.hasError('required')">
              Required
            </div>
            <span class="icon is-small is-right">
              <i class="jam jam-user-circle"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control has-icons-right">
            <input formControlName="contrasena" class="input" type="password" />
            <!-- <div *ngIf="contrasena.touched && contrasena.hasError('required')">
              Required
            </div> -->
            <span class="icon is-small is-right">
              <i class="jam jam-key"></i>
            </span>
          </div>
        </div>
        <div class="has-text-centered">
          <button
            class="button is-vcentered is-primary is-outlined"
            [disabled]="!formulario.valid"
          >
            Login
          </button>
        </div>
        <div class="has-text-centered">
          <a href="signup.html"> Aún no tienes cuenta? Regístrate ahora!</a>
        </div>
      </section>
    </div>
    <div
      class="interactive-bg is-hidden-touch column has-background-primary is-8 is-flex"
    >
      <svg width="680" height="680">
        <image
          xlink:href="../../../assets/img/login.svg"
          width="680"
          height="680"
        />
      </svg>
    </div>
  </div>
</form>
