<div class="card">
  <header
    class="card-header"
    [ngClass]="{
      'has-background-success': recibo.estatus,
      'has-background-danger': !recibo.estatus
    }"
  >
    <p class="card-header-title" style="color: #fff;">
      {{ recibo.estatus == true ? "Pagado" : "Pendiente" }}
    </p>
    <div *ngIf="recibo.estatus" class="card-header-icon">
      <span class="icon">
        <span [ngSwitch]="recibo.metodoDePago">
          <i
            *ngSwitchCase="'Efectivo'"
            class="jam jam-coin-f"
            style="color: #fff;"
          ></i>

          <i
            *ngSwitchDefault
            class="jam jam-credit-card-f"
            style="color: #fff;"
          ></i>
        </span>
      </span>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column"><b>Provedor:</b> {{ recibo.provedor }}</div>
        <div class="column"><b>Monto:</b> {{ recibo.monto | currency }}</div>
      </div>
      <div class="columns">
        <div class="column"><b>Fecha:</b> {{ recibo.fecha | date }}</div>
        <div class="column">
          <p><b>Comentarios:</b></p>
          {{ recibo.comentario }}
        </div>
      </div>
      <div class="columns">
        <div class="column"></div>
        <div class="column"></div>
      </div>
      <!-- {{ recibo.comentario }}
      <br />
      <time>{{ recibo.fecha }}</time> -->
    </div>
  </div>
  <footer class="card-footer recibo">
    <a href="#" class="card-footer-item has-text-primary">Editar</a>
    <a href="#" class="card-footer-item has-text-primary">Eliminar</a>
  </footer>
</div>
