<section class="hero has-background-light is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <h2
            class="is-size-2 is-uppercase has-text-weight-bold has-text-grey-darker"
          >
            Axos
          </h2>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Cerrar sesión
              </a>
            </div>
          </div>
          <hr style="color: black; background-color: black;" />
        </div>
      </div>
    </nav>
  </div>
  <div class="divider div-transparent div-dot"></div>

  <div class="hero-body is-flex" style="">
    <form
      action=""
      method="post"
      [formGroup]="formulario"
      (ngSubmit)="onSubmit()"
    >
      <div class="field">
        <label class="label">Provedor</label>
        <div class="select is-primary">
          <select formControlName="provedor" class="">
            <!-- <option value=>-- Selecciona un provedor --</option> -->
            <option *ngFor="let p of provedores" [ngValue]="p.id">{{
              p.nombre
            }}</option>
          </select>
        </div>

        <div *ngIf="">
          <p class="has-text-danger" *ngIf="">
            El provedor es requerido.
          </p>
        </div>

        <div class="field">
          <label class="label">Monto</label>
          <div class="control has-icons-right">
            <input
              formControlName="monto"
              class="input is-primary"
              type="text"
            />
            <div *ngIf="">
              <p class="has-text-danger" *ngIf="">
                El monto es requerido.
              </p>
            </div>
            <span class="icon is-small is-right">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Moneda</label>
          <div class="select is-primary">
            <select formControlName="moneda" class="">
              <!-- <option [ngValue]="0">-- Selecciona una divisa --</option> -->
              <option *ngFor="let d of divisas" [ngValue]="d.id">{{
                d.nombre
              }}</option>
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">Comentario</label>
          <div class="control has-icons-right">
            <textarea
              formControlName="comentario"
              class="textarea is-primary"
              placeholder="e.g. Hello world"
            ></textarea>
            <div *ngIf="">
              <p class="has-text-danger" *ngIf="">
                El comentario es requerido
              </p>
            </div>
            <span class="icon is-small is-right">
              <i class="fa fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" formControlName="estatus" />
            Pagado?
          </label>
        </div>

        <div class="has-text-centered">
          <button
            type="submit"
            class="button is-vcentered is-primary is-outlined"
            [disabled]=""
          >
            Guardar.
          </button>
        </div>
        <div class="has-text-centered has-text-le">
          <a [routerLink]="['/login']">Cancelar</a>
        </div>
      </div>
    </form>
    <p *ngIf="false">{{ formulario.value | json }}</p>
  </div>
</section>
